body {
    background: rgb(64, 145, 238);
    font: normal 15pt Arial;
    color: whitesmoke;
}

header {
    text-align: center;
}

section {
    background: white;
    border-radius: 20px;
    padding: 15px;
    width: 450px;
    margin: auto;
    color: black;
    text-align: center;
    box-shadow: 5px 5px 10px rgb(77, 67, 67);
}

footer {
    text-align: center;
    font-style: italic;
}